/* At the top of globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Apply the Poppins font to the body element */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

/* Alternative: Apply the Poppins font to a specific class */
.poppins {
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
